# Example .gitignore file for your config dir
*
!*.yaml
!.gitignore
!sensor
!www
!switchs
!lights
!cover
!binary_sensor
!Code
!custom_components
!automations
secrets.yaml
home-assistant.log
home-assistant_v2.db
